<ion-view title="Login" ng-controller="HomeController as home_ctrl" class="login custom-background-image">

  <ion-content class="has-header padding" ng-init="initUsername()">

    <div class="list">
        <div>
            <img src="img/twiiter.jpeg" style="padding: 130px;"/>
        </div>
        <div class="main-header">
            Twitter Fantasy League
        </div>

        <div class="padding start-button">
            <button class="button button-positive button-block" ng-click="login(home_ctrl.temp_user)">Start</button>
        </div>
    </div>

  </ion-content>

</ion-view>